body {
	margin: 0;
	padding: 0;
}

.content {
	text-align: center;
	font-family: Arial, sans-serif;
}

@font-face {
	font-family: "Christmas";
	src: url("./font.woff2");
}

h1 {
	font-family: "Christmas";
}

#giftForm {
	justify-items: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1%;
	text-align: end;
}

.giftItem {
	padding: 1vw;
	margin: 2vw;
	border-radius: 25px;
	background-color: #00000053;
}

#footer {
	width: 100%;
	justify-content: center;
	display: flex;
	margin-top: auto;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#error {
	color: red;
}
